{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "lodash",
    "flow-react-proptypes",
    "react-hot-loader/babel",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-runtime"
  ]
}
