{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "lodash",
    // #TODO re-enable this if https://github.com/brigand/babel-plugin-flow-react-proptypes/issues/106 is ever resolved
    // "flow-react-proptypes",
    "react-hot-loader/babel",
    ["transform-builtin-extend", {
      "globals": ["Error"]
    }],
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
