/*******************************
              .alerts
*******************************/

.alerts-menu .menu {
  // Align dropdown menu on left side of the dropdown button
  left: auto !important;
  right: 0em;

  &::after {
    // Move dropdown arrow to the right side
    left: auto !important;
    right: 1em !important;
  }
}
