/*******************************
 .content-item-editable-display
*******************************/

@basePadding: 1em;

.root-content-item-editable-display {
  margin-left: @basePadding;
}

.content-item-editable-display {
  position: relative;

  margin: @basePadding 0;

  &__sub-items {
    padding-left: @basePadding;

    position: relative;
  }

  &__collapse-button {
    position: absolute;
    left: -@basePadding;
    height: 100%;

    padding: .1em !important;

    &:hover {
      background-color: @owsPurple !important;
    }

    // Increase clickable area with a pseudo-element
    &:before {
      position: absolute;
      content: '';
      top: -(@basePadding / 2);
      bottom: -(@basePadding / 2);
      right: -.4em;
      left: -.4em;
    }
  }

  &-block {
    @background: @white;
    @borderWidth: 1px;
    @border: @borderWidth solid @borderColor;

    @boxShadow: @subtleShadow;
    @verticalPadding: @basePadding - @inputVerticalPadding;
    @horizontalPadding: @basePadding - @inputHorizontalPadding;
    @padding: @verticalPadding @horizontalPadding;

    @verticalMargin: 1rem;
    @horizontalMargin: 0em;
    @margin: @verticalMargin @horizontalMargin;
    @borderRadius: @defaultBorderRadius;

    border: @border;
    border-radius: @borderRadius;
    box-shadow: @boxShadow;

    margin: @margin;

    &__wrapper {
      display: table;
      width: 100%;
    }

    &__icon,
    &__content {
      display: table-cell;
      vertical-align: middle;
    }

    &__icon {
      padding: @basePadding;
      padding-right: 0;
      width: 1%;
    }

    &__content {
      padding: @padding;
      width: 99%;
    }

    &--selected {
      outline: none;
      box-shadow: 0 0 2px 0 rgba(34, 36, 38, 0.15), 0 3px 0 @owsPink;
    }
  }

  .editable-text-content {
    &__text {
      padding: @inputPadding;
    }
  }
}
