/*******************************
           .page-layout
*******************************/

.page-layout {
  @margin-vertical: 2rem;
  @margin-horizontal: 6rem;

  &__grid {
    padding: @margin-vertical @margin-horizontal;
    position: absolute; // necessary because sidebar needs positioned parent
    width: 100%;
    min-height: 100%;
  }
}
