/*******************************
           .page-layout
*******************************/

.page-layout {
  @margin-vertical: 2rem;
  @margin-horizontal: 6rem;

  &__grid {
    padding: @margin-vertical @margin-horizontal;
    position: relative; // necessary because sidebar needs positioned parent
  }
}
