/*******************************
           platform
*******************************/

.ui.ugent.button {
  background-color: @ugentBlue;
  color: white;
}

.ui.ugent.button:hover {
  background-color: @ugentBlueHover;
  color: white;
}

.ui.ugent.button:active {
  background-color: @ugentBlueDown;
  color: white;
}

.ui.link.button {
  background-color: unset;
  text-decoration: none;
  color: @linkColor;
  font-weight: unset;
}

.ui.link.button:hover {
  background-color: unset;
  text-decoration: @linkHoverUnderline;
  color: @linkColor;
  font-weight: unset;
}

.ui.link.button:active {
  background-color: unset;
  text-decoration: @linkHoverUnderline;
  color: @linkColor;
  font-weight: unset;
}
