/*******************************
            .sidebar
*******************************/

.sidebar {
  border-left: 1px solid @borderColor;

  // Fill container
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow: auto;

  &__wrapper {
    // Align sidebar content with page content
    padding: @pageVerticalSpacing @pageHorizontalSpacing;
  }

  .ui.header .icon {
    color: @grey;
  }
}

.sidebar--slide-previews {
  .ows_slide {
    font-size: 0.35em;
  }
}
